
.output1 {
  font-size: 24px;
  font-variant-caps: petite-caps;
  text-decoration: underline;
}
.output2 {
  font-size: 24px;
  font-variant-caps: petite-caps;
  text-decoration: underline;
}

.container {
  display: none;
}

.playerInfo {
  display: none;
}

body {
  margin-left: 15%;
  margin-right: 15%;
}
