#player1 {
  border: none;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  position: absolute;
  left : 30%;
  top:100%;
}
#player2 {
  border: none;
  width: 200px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right : 30%;
  top:100%;
}
#dice {
  height: 200px;
  width: 200px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
}
#name{
  height: 40%;
  width: 40%;
}
